<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8kNKZUNyT92Xi4WjCqAfPyQ0NOntbLGo</string>
	<key>GCM_SENDER_ID</key>
	<string>494226531974</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.messengerTest.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>messenger-4624e</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-4624e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494226531974:ios:2cd2525bb133dc51fd9307</string>
</dict>
</plist>